- content_for :head do
  = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=true&language=ja'

#restaurants_list.panel
  .panel-content
    .panel-inner
      %h3 お店をリストに追加
  .panel-content
    #map_canvas.panel-inner

.panel
  .panel-content
    .panel-inner
      = link_to '新しいお店を追加', new_restaurant_path

= link_to 'Back', posts_path
