= link_to "Mychelin", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li.account
      = link_to current_user.name, current_user
    %li
      = link_to 'Logout', signout_path
  - else
    %li
      = link_to 'Login', signin_path
